# Alles ignorieren
*

# Nur diese Ordner erlauben
!.gitignore
!config/
!config/**

!mods/
!mods/**

!resourcepacks/
!resourcepacks/**

!shaderpacks/
!shaderpacks/**


# Einzelne Dateien erlauben
!options.txt
!server.dat
